[submodule "TAJS"]
	path = TAJS
	url = https://github.com/mdittmer/TAJS.git
	branch = pola-js
[submodule "artifact-executor"]
	path = artifact-executor
	url = https://github.com/mdittmer/artifact-executor.git
[submodule "souffle"]
	path = souffle
	url = https://github.com/souffle-lang/souffle.git
[submodule "aws-bookstore-demo-app"]
	path = aws-bookstore-demo-app
	url = https://github.com/mdittmer/aws-bookstore-demo-app.git
